apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zk-data-pvc
  namespace: {{ kafka_l4_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ zk_data_storage }}