apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zk-txn-logs-pvc
  namespace: {{ kafka_l4_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ zk_txn_logs_storage }}