apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "ibm-sccm-scc"
  namespace: {{ scc_namespace }}
  labels:
    app: "ibm-sccm-scc"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "ibm-sccm-scc"
subjects:
  - kind: ServiceAccount
    name: default
    namespace: {{ scc_namespace }}
