apiVersion: v1
kind: Service
metadata:
  name: kowl-service
  namespace: {{ kafka_l4_namespace }}
spec:
  ports:
  - port: {{ kowl_port }}
    targetPort: {{ kowl_port }}
  selector:
    app: kowl
  type: LoadBalancer